@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&family=Josefin+Sans:wght@700&family=Space+Mono:wght@700&display=swap');

:root {
    --bright-blue: hsl(220, 98%, 61%);
    --check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue: hsl(234, 39%, 85%);
    --light-grayish-glue-hover: hsl(236, 33%, 92%);
    --dark-grayish-blue: hsl(234, 11%, 52%);
    --very-dark-grayish-blue: hsl(233, 14%, 35%);
    --very-dark-grayish-blue: hsl(237, 14%, 26%);

    --font-size: 18px;
    --inter-font: 'Inter', sans-serif;
    --monospace: 'Space Mono', monospace;
}

html {
    box-sizing: border-box;
}

body {
    background-image: url("/asesst/img/bg-mobile-dark.jpg");
    background-repeat: no-repeat;
    background-color: var(--very-dark-blue);
    color: var(--dark-grayish-blue);
    font-size: var(--font-size);
    font-family: var(--inter-font);
    margin: 0;
    padding: 0;
}

/* header */

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
}


header div p {
    font-weight: 600;
    color: aliceblue;
    font-size: 25px;
    letter-spacing: 10px;
}


/* input box */

.create-todo {
    display: flex;
    background-color: var(--very-dark-desaturated-blue);
    border: 1px solid var(--very-dark-desaturated-blue);
    border-radius: 4px;
    padding: 10px;
    margin: 0 15px;
    align-items: center;
}

.done-btn {
    height: 21px;
    width: 21px;
    border-radius: 50%;
    border: 1px solid var(--very-dark-grayish-blue);
    background-color: var(--very-dark-desaturated-blue);

}

.input-box {
    background-color: var(--very-dark-desaturated-blue);
    border: none;
    width: 85%;
    outline: none;
    padding: 2px 0 0 14px;
    font-family: var(--inter-font);
    color: var(--dark-grayish-blue);
    font-size: 12px;
}


/* todo list */

.todo-list {
    background-color: var(--very-dark-desaturated-blue);
    border: 1px solid var(--very-dark-desaturated-blue);
    border-radius: 4px;
    /* padding: 10px; */
    margin: 0 15px;
    align-items: center;
    
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--very-dark-grayish-blue);
}

.flex-item {
    display: flex;
    align-items: center;
    margin-left: 10px;
}


.todo-item p {
    margin-left: 15px;
    padding: 5px;
    font-size: 12px;
    font-weight: 500;
}









